@use "../main.sass" as main
@import "./chat/chatSideDetail"
@import "./chat/chatRoom"
@import "./chat/allChatRooms"
@import "./chat/header"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap')

.application
    @include main.backgroundImage
    font-family: 'Roboto', sans-serif


.chat
    display: flex

    h1
        color: main.$text-color
        font-weight: 400

