* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.application-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat .roomList {
  width: 100%;
}

.chat .chatRoom {
  width: 100%;
}

.chat .chatSideDetail {
  width: 100%;
}

.chat .roomInfo {
  width: 100%;
}
